*{
	padding: 0;
	margin: 0;
}
html{
	overflow: hidden;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #000;
	color: #FFF;
	padding: 0 10px;
	z-index: 10;
}
.item{
	text-transform: uppercase;
	list-style-type: none;
	display: inline-block;
	line-height: 50px;
	padding: 0 10px;
}
.container{
	width: 100%;
	height: 1000px;
	background-color: pink;
}
.mobile-menu{
	position: fixed;
	left: 0;
	top: 0;
	width: 300px;
	z-index: 9;
	height: 100%;
	background-color: #DDD;
	padding-top: 50px;
	overflow-y: scroll;
	display: none;
}
.menu-item{
	display: block;
	width: 100%;
	text-decoration: none;
	height: 60px;
	border-bottom: 1px solid #999;
	line-height: 60px;
	padding: 0 10px;
	box-sizing: border-box;
}